:root{
    --c1olor:azure;
}

.logo_f {
    font-weight: 1000;
    font-size: 2rem;
}

#F {
    color: var(--c2olor);
}

.h1{
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50px;
    border: solid black 1px;
}
.label{
    margin-bottom: 5px;
}
button{
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    margin: 10px auto;
    background-color: azure;
}
.img{
    width: 450px;
    height: 370px;
}
b{
    font-size: large;
}
.rowD{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px black;
    overflow: hidden;
}

.login{
    padding: 60px 60px;
}

.intro{
    padding: 60px 60px;
    background-color: azure;
}
.columnD{
    display: flex;
    flex-direction: column;
}